Description: Creates user with credentials so boto3 can log in with it

Parameters:
  Serial:
    Type: Number
    Description: Increment this to rotate credentials
    Default: 1

Resources:
  CodebuildIAMUser:
    Type: AWS::IAM::User
    Properties:
      UserName: "CodebuildUserWithCredentials-{{ serviceName }}-{{ ENVIRONMENT }}"
      Policies:
        -
          PolicyName: "CodeBuildAllowUpdateECRPolicy-{{ serviceName }}-{{ ENVIRONMENT }}"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              -
                Effect: "Allow"
                Action:
                  - "ecr:PutImageTagMutability"
                  - "ecr:StartImageScan"
                  - "ecr:DescribeImageReplicationStatus"
                  - "ecr:ListTagsForResource"
                  - "ecr:UploadLayerPart"
                  - "ecr:BatchDeleteImage"
                  - "ecr:CreatePullThroughCacheRule"
                  - "ecr:ListImages"
                  - "ecr:BatchGetRepositoryScanningConfiguration"
                  - "ecr:DeleteRepository"
                  - "ecr:GetRegistryScanningConfiguration"
                  - "ecr:CompleteLayerUpload"
                  - "ecr:TagResource"
                  - "ecr:DescribeRepositories"
                  - "ecr:BatchCheckLayerAvailability"
                  - "ecr:ReplicateImage"
                  - "ecr:GetLifecyclePolicy"
                  - "ecr:GetRegistryPolicy"
                  - "ecr:PutLifecyclePolicy"
                  - "ecr:DescribeImageScanFindings"
                  - "ecr:GetLifecyclePolicyPreview"
                  - "ecr:CreateRepository"
                  - "ecr:DescribeRegistry"
                  - "ecr:PutImageScanningConfiguration"
                  - "ecr:GetDownloadUrlForLayer"
                  - "ecr:DescribePullThroughCacheRules"
                  - "ecr:GetAuthorizationToken"
                  - "ecr:PutRegistryScanningConfiguration"
                  - "ecr:DeletePullThroughCacheRule"
                  - "ecr:DeleteLifecyclePolicy"
                  - "ecr:PutImage"
                  - "ecr:BatchImportUpstreamImage"
                  - "ecr:UntagResource"
                  - "ecr:BatchGetImage"
                  - "ecr:DescribeImages"
                  - "ecr:StartLifecyclePolicyPreview"
                  - "ecr:InitiateLayerUpload"
                  - "ecr:GetRepositoryPolicy"
                  - "ecr:PutReplicationConfiguration"
                Resource:
                  - "*"
        -
          PolicyName: "CodeBuildAllowUpdateECSPolicy-{{ serviceName }}-{{ ENVIRONMENT }}"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              -
                Effect: "Allow"
                Action:
                  - "application-autoscaling:Describe*"
                  - "application-autoscaling:PutScalingPolicy"
                  - "application-autoscaling:DeleteScalingPolicy"
                  - "application-autoscaling:RegisterScalableTarget"
                  - "cloudwatch:DescribeAlarms"
                  - "cloudwatch:PutMetricAlarm"
                  - "ecs:List*"
                  - "ecs:Describe*"
                  - "ecs:UpdateService"
                  - "ecs:StopTask"
                  - "iam:AttachRolePolicy"
                  - "iam:GetPolicy"
                  - "iam:GetPolicyVersion"
                  - "iam:GetRole"
                  - "iam:ListAttachedRolePolicies"
                  - "iam:ListRoles"
                  - "iam:ListGroups"
                  - "iam:ListUsers"
                Resource:
                  - "*"

  CodebuildCredentials:
    Type: AWS::IAM::AccessKey
    Properties:
      Serial: !Ref Serial
      Status: Active
      UserName: !Ref CodebuildIAMUser

Outputs:
  IAMCodebuildAccessKey:
    Value: !Ref CodebuildCredentials
    Export:
      Name: "iam-CodebuildAccessKey-{{ serviceName }}-{{ ENVIRONMENT }}"
  IAMCodebuildSecretKey:
    Value: !GetAtt CodebuildCredentials.SecretAccessKey
    Export:
      Name: "iam-CodebuildSecretKey-{{ serviceName }}-{{ ENVIRONMENT }}"