Description: Creates Airflow Webserver Service

Resources:
  WebserverExternalSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Airflow webserver. Allow all inbound traffic.
      GroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-web-s-group"
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          FromPort: 0
          IpProtocol: -1
          ToPort: 0
      SecurityGroupIngress:
      {% for ip in whitelistedIPs %}
        - CidrIp: "{{ ip }}"
          FromPort: "{{ service.port }}"
          IpProtocol: tcp
          ToPort: "{{ service.port }}"
        - CidrIp: "{{ ip }}"
          FromPort: 443
          IpProtocol: tcp
          ToPort: 443
      {% endfor %}
      VpcId: !ImportValue "network-VpcId-{{ serviceName }}-{{ ENVIRONMENT }}"
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-web--group"

  WebserverInternalSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Airflow webserver.
      GroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-web-i-s-group"
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          FromPort: 0
          IpProtocol: -1
          ToPort: 0
      SecurityGroupIngress:
        - SourceSecurityGroupId: !GetAtt WebserverExternalSecurityGroup.GroupId
          FromPort: "{{ service.webserver.port }}"
          IpProtocol: tcp
          ToPort: "{{ service.webserver.port }}"
      VpcId: !ImportValue "network-VpcId-{{ serviceName }}-{{ ENVIRONMENT }}"
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webs-i-s-group"

  WebserverTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Cpu: "{{ service.webserver.cpu }}"
      Memory: "{{ service.webserver.memory }}"
      ExecutionRoleArn: !ImportValue iam-ECSExecutionTaskRoleArn-{{ serviceName }}-{{ ENVIRONMENT }}
      TaskRoleArn: !ImportValue iam-ECSTaskRoleArn-{{ serviceName }}-{{ ENVIRONMENT }}
      Family: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-task-definition"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      ContainerDefinitions:
        - Name: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver"
          Image: !Sub
            - "${AWS::AccountId}.dkr.ecr.{{ AWS_REGION }}.amazonaws.com/${ecr_repository}:latest"
            - ecr_repository: !ImportValue ecr-AirflowDockerRepositoryName-{{ serviceName }}-{{ ENVIRONMENT }}
          Essential: true
          PortMappings:
            - ContainerPort: "{{ service.webserver.port }}"
              HostPort: "{{ service.webserver.port }}"
          Command:
            - webserver
          Environment:
            - Name: AIRFLOW__CORE__DEFAULT_TIMEZONE
              Value: "{{ timeZone }}"
            - Name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
              Value: {% raw %}
               !Join ['', ['postgresql+psycopg2://', '{{resolve:secretsmanager:', !ImportValue {% endraw %} secrets-MetadataDBSecretId-{{ serviceName }}-{{ ENVIRONMENT }} {% raw %},
                    ':SecretString:username}}', ':', '{{resolve:secretsmanager:', !ImportValue {% endraw %} secrets-MetadataDBSecretId-{{ serviceName }}-{{ ENVIRONMENT }} {% raw %},
                    ':SecretString:password}}', '@', !ImportValue {% endraw %} database-MetadataDBInstanceHost-{{ serviceName }}-{{ ENVIRONMENT }} {% raw %}, '/',
                    'airflow'  ]]
                {% endraw %}
            - Name: AIRFLOW_BASE_URL
              Value: "{{ service.baseUrl }}"
            - Name: AIRFLOW__CORE__EXECUTOR
              Value: CeleryExecutor
            - Name: ENABLE_REMOTE_LOGGING
              Value: False
            - Name: STAGE
              Value: "{{ ENVIRONMENT }}"
            - Name: FERNET_KEY
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue {% endraw %} secrets-AirflowFernetKeySecretId-{{ serviceName }}-{{ ENVIRONMENT }} {% raw %}, ':SecretString:fernet_key}}' ]] {% endraw %}
            - Name: AIRFLOW__WEBSERVER__SECRET_KEY
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue {% endraw %} secrets-synchronizationKey-{{ serviceName }}-{{ ENVIRONMENT }} {% raw %}, ':SecretString:secretKey}}' ]] {% endraw %}
            {{ custom_env_variables  | indent( width=12) }}
          User: airflow
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !ImportValue "cloudwatch-AirflowECSLogGroupName-{{ serviceName }}-{{ ENVIRONMENT }}"
              awslogs-region: "{{ AWS_REGION }}"
              awslogs-stream-prefix: webserver
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-task-definition"

  WebserverAlb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-alb"
      Type: application
      SecurityGroups:
        - !Ref WebserverExternalSecurityGroup
      Subnets:
        - !ImportValue "network-PublicSubnet1Id-{{ serviceName }}-{{ ENVIRONMENT }}"
        - !ImportValue "network-PublicSubnet2Id-{{ serviceName }}-{{ ENVIRONMENT }}"
        - !ImportValue "network-PublicSubnet3Id-{{ serviceName }}-{{ ENVIRONMENT }}"
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-alb"

  WebserverAlbTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-alb-tg"
      Port: "{{ service.webserver.port }}"
      Protocol: HTTP
      VpcId: !ImportValue "network-VpcId-{{ serviceName }}-{{ ENVIRONMENT }}"
      TargetType: ip
      HealthCheckEnabled: true
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: /health
      HealthCheckPort: "{{ service.webserver.port }}"
      HealthCheckProtocol: HTTP
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 5
      UnhealthyThresholdCount: 3
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-alb-tg"

  WebserverAlbListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - TargetGroupArn: !Ref WebserverAlbTargetGroup
          Type: forward
      LoadBalancerArn: !Ref WebserverAlb
      Port: "{{ service.port }}"
      Protocol: HTTP

  {% if not certificate %}
  WebserverAlbListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - TargetGroupArn: !Ref WebserverAlbTargetGroup
          Type: forward
      LoadBalancerArn: !Ref WebserverAlb
      Port: "{{ service.port }}"
      Protocol: HTTP

  {% endif %}

  {% if certificate %}
  WebserverAlbListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: "HTTPS"
            Port: 443
            StatusCode: HTTP_301
      LoadBalancerArn: !Ref WebserverAlb
      Port: "{{ service.port }}"
      Protocol: HTTP

  WebserverAlbListenerSSL:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - TargetGroupArn: !Ref WebserverAlbTargetGroup
          Type: forward
      LoadBalancerArn: !Ref WebserverAlb
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: {{ certificate}}

  {% endif %}


  WebserverEcsService:
    Type: AWS::ECS::Service
    DependsOn: WebserverAlbListener
    Properties:
      ServiceName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver"
      Cluster: !ImportValue ecs-AirflowECSClusterArn-{{ serviceName }}-{{ ENVIRONMENT }}
      TaskDefinition: !Ref WebserverTaskDefinition
      LaunchType: FARGATE
      DesiredCount: "{{ service.webserver.desiredCount }}"
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          SecurityGroups:
            - !Ref WebserverInternalSecurityGroup
          Subnets:
            - !ImportValue "network-PublicSubnet1Id-{{ serviceName }}-{{ ENVIRONMENT }}"
            - !ImportValue "network-PublicSubnet2Id-{{ serviceName }}-{{ ENVIRONMENT }}"
            - !ImportValue "network-PublicSubnet3Id-{{ serviceName }}-{{ ENVIRONMENT }}"
      LoadBalancers:
        - ContainerName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver"
          ContainerPort: "{{ service.webserver.port }}"
          TargetGroupArn: !Ref WebserverAlbTargetGroup

  WebserverScalableTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: "{{ service.webserver.autoscaling.maxCapacity }}"
      MinCapacity: "{{ service.webserver.autoscaling.minCapacity }}"
      RoleARN: !Sub 'arn:aws:iam::${AWS::AccountId}:role/aws-service-role/ecs.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_ECSService'
      ServiceNamespace: ecs
      ScalableDimension: 'ecs:service:DesiredCount'
      ResourceId: !Join ["/", [service, !ImportValue ecs-AirflowECSClusterId-{{ serviceName }}-{{ ENVIRONMENT }}, !GetAtt WebserverEcsService.Name]]

  ServiceScalingPolicyCPU:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-tracking-cpu"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref WebserverScalableTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: "{{ service.webserver.autoscaling.cpu.target }}"
        ScaleInCooldown: "{{ service.webserver.autoscaling.cpu.scaleInCooldown }}"
        ScaleOutCooldown: "{{ service.webserver.autoscaling.cpu.scaleOutCooldown }}"
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageCPUUtilization

  ServiceScalingPolicyMemory:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-tracking-memory"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref WebserverScalableTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: "{{ service.webserver.autoscaling.memory.target }}"
        ScaleInCooldown: "{{ service.webserver.autoscaling.memory.scaleInCooldown }}"
        ScaleOutCooldown: "{{ service.webserver.autoscaling.memory.scaleOutCooldown }}"
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageMemoryUtilization

Outputs:
  AirflowWebServerEndpoint:
    Value: !GetAtt WebserverAlb.DNSName